################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/.vs/QuranGuide-Maui/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/QuranGuide.Maui/bin/Debug
/.vs
/QuranGuide.Maui/obj/Debug
/QuranGuide.Maui.Api/obj/Debug/net9.0
/QuranGuide.Maui.Business/bin/Debug/net9.0
/QuranGuide.Maui.Business/obj/Debug/net9.0
/QuranGuide.Maui.Data/obj/Debug/net9.0
/QuranGuide.Maui.Shared/bin/Debug/net9.0
/QuranGuide.Maui.Shared/obj/Debug/net9.0
/QuranGuide.Maui.Tests/obj/Debug/net9.0
/QuranGuide.Maui.Tests/bin/Debug/net9.0
/QuranGuide.Maui.Api/bin/Debug
/QuranGuide.Maui.Api/obj/Debug/net8.0
/QuranGuide.Maui.Business/bin/Debug/net8.0
/QuranGuide.Maui.Business/obj/Debug/net8.0
/QuranGuide.Maui.Data/bin/Debug
/QuranGuide.Maui.Data/obj/Debug/net8.0
/QuranGuide.Maui.Shared/bin/Debug/net8.0
/QuranGuide.Maui.Shared/obj/Debug/net8.0
/QuranGuide.Maui.Tests/bin/Debug/net8.0
/QuranGuide.Maui.Tests/obj/Debug/net8.0
